<%- include ("./partials/header") %>

    <div id="indexCard">
        <img class="img-fluid" src="http://localhost:3000/images/index-card.png">
        <% if(!currentUser){ %>
        <form action="/google" method="GET">
            <input id="butn" class="btn btn-primary" type="submit" value="Lets Go!">
        </form>
        <% } else { %>
        <% } %>
    </div>

    <div class="features">
        <div class="feature-item">
            <img class="featureImg img-fluid" src="http://localhost:3000/images/dummy.jpg">
            <div class="content">
            <h2 class="content-head"><strong>Feature Heading</strong></h2>
            <h4 class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus maxime. Obcaecati, provident quos? Minus perspiciatis nemo voluptatibus id possimus quos sunt aliquam magni ipsam expedita! Aperiam molestiae hic voluptatum!</h4>
        </div>
        </div>
        <div class="feature-item">
            <div class="content2">
                <h2 class="content-head"><strong>Feature Heading</strong></h2>
                <h4 class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus maxime. Obcaecati, provident quos? Minus perspiciatis nemo voluptatibus id possimus quos sunt aliquam magni ipsam expedita! Aperiam molestiae hic voluptatum!</h4>
            </div>
            <img class="featureImg2 img-fluid" src="http://localhost:3000/images/dummy.jpg">
        </div>
        <div class="feature-item">
            <img class="featureImg img-fluid" src="http://localhost:3000/images/dummy.jpg">
            <div class="content">
            <h2 class="content-head"><strong>Feature Heading</strong></h2>
            <h4 class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, doloribus maxime. Obcaecati, provident quos? Minus perspiciatis nemo voluptatibus id possimus quos sunt aliquam magni ipsam expedita! Aperiam molestiae hic voluptatum!</h4>
        </div>
        </div>
    </div>

    <div id="indexCard">
        <img class="img-fluid" src="http://localhost:3000/images/stats.png">
    </div>

<%- include ("./partials/footer") %>
