<%- include ("./partials/header") %>

    <div id="indexCard">
        <img class=" indexImg img-fluid" src="http://localhost:3000/images/dummy3.png">
        <div class="container" id="centered">
            <h1 class="ic-1"><big><big><strong>Learn</strong></big></big></h1>
            <h2 class="ic-2">only the most essential<br>parts of your courses</h2>
            <h1 class="ic-3"><strong>in just a few hours.</strong></h1>
        </div>
        <% if(!currentUser){ %>
        <form action="/google" method="GET">
            <input id="butn" class="btn btn-primary" type="submit" value="Lets Go!">
        </form>
        <% } else { %>
            <form action="/filter" method="GET">
                <input id="butn" class="btn btn-primary" type="submit" value="Lets Go!">
            </form>
        <% } %>
    </div>
    <p class="sections">What we do?</p>
    <div class="features">
        <div class="feature-item">
            <div class="featureImg">
            <img class="img-fluid" src="http://localhost:3000/images/index-1.png"></div>
            <div class="content1">
            <h4 class="content-text">A week left for your exams to begin, and you don't now anything. We've all been there, haven't we?</h4>
        </div>
        </div><hr style="clear: both;" />
        <div class="feature-item">
            <div class="content2">
                <h4 class="content-text">The textbook makes no sense! The lecture video of the teacher are way too long and boring. I barely have any notes, and the online materials have too much irrelevant information. WHAT DO I DO!? </h4>
            </div>
            <div class="featureImg2">
            <img class="img-fluid" src="http://localhost:3000/images/index-2.png"></div>
        </div><hr style="clear: both;" />
        <div class="feature-item">
            <div class="featureImg">
            <img class="img-fluid" src="http://localhost:3000/images/index-3.png"></div>
            <div class="content1">
            <h4 class="content-text">Oh wait, I can ask my friends to teach me this, can't I? <br>Whoops, they're too busy studying for themselves. Now it's time to panic.</h4>
        </div>
        </div><hr style="clear: both;" />
        <div class="feature-item">
            <div class="content2">
                <h4 class="content-text">That's where we come in. <br>Learn only the crux of a chapter in just about an hour, from a topper in your own institute.</h4>
            </div>
            <div class="featureImg2">
            <img class="img-fluid" src="http://localhost:3000/images/index-4.png"></div>
        </div>
    </div><hr style="clear: both;" />

    <!-- <div id="indexCard">
        <img class="img-fluid" src="http://localhost:3000/images/stats.png">
    </div> -->

<%- include ("./partials/footer") %>
