<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Homepage</title>
</head>
<body>

        <br><br><br>
        <form action="/search" method="POST">
            <input type="text" name="search">
            <input type="submit" value="Search Query"> 
        </form>
<br><br>
        <form action="/pes" method="GET">
            <input type="submit" value="PES Syllabus"> 
        </form><br>
        <br>
        <form action="/view" method="GET">
            <input type="submit" value="Private"> 
        </form><br>
        <% if(!currentUser) { %>
        <form action="/google" method="GET">
            <input type="submit" value="Login with Google"> 
        </form><br>
        <% } else { %>
            <h3>Welcome <%= currentUser.username %></h3>
        <form action="/logout" method="GET">
            <input type="submit" value="Logout"> 
        </form><br>
        <% } %>
</body>
</html>
