#footer {
clear: both;
position: relative;
height: 200px;
margin-top: -50px;
}

html, body {
  margin:0px;
  height:100%;
}

.pg2-bg {
  background-image: url('http://localhost:3000/images/page2-bg.jpeg');
  width:100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.pg2-dd {
  max-width: 60%;
  padding-left: 20%;
  padding-top: 15%;
}
.pg2-hd {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.0vw;
}

.pg3-bg {
  background-image: url('http://localhost:3000/images/page3-bg.jpeg');
  width:100%;
  height: 100%;
  background-size: cover;
}

#cards {
  display:inline-block;
}

.logo {
  max-height: 25px;
}

.thumbnail {
  max-width: 100%;
}

.sections {
  text-align: center;
  font-size: 40px;
  margin: 60px auto;
}

#indexCard {
    position: relative;
    margin: 0 auto;
    min-width: 100%;
}

#indexCard #centered {
  position: absolute;
  top: 37%;
  left: 20%;
  font-family: 'Quicksand', sans-serif;
}

.ic-1 {
  color: #0C82DA;
  font-size: 2.0vw;
}

.ic-2 {
  color: white;
  font-size: 2.0vw;
}

.ic-3 {
  color: #3EE384;
  font-size: 2.0vw;
}

.indexImg {
  min-width: 100%;
  max-width: 100%;
}

#indexCard #butn {
    position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 650px) {

  #butn {
    top: 63%;
    left: 42.5%;
    font-size: 1.0vw; 
    padding: 1px 2px;
  }
    .features {
      margin: 30px 30px;
      overflow: hidden;
  }
  .feature-item {
    display: block; 
    clear: both;
  }
  
   .featureImg {
      position: relative;
      display: block; 
      margin: 80px auto;
      max-width: 70%;
      min-width: 70%;
  }
  
  .content {
      display: block; 
      margin: 50px auto;
      max-width: 80%;
  }
  
   .featureImg2 {
    position: relative;
    display: block; 
    margin: 80px auto;
    max-width: 70%;
    min-width: 70%;
  }
  
   .content2 {
    margin: 50px auto;
    display: block; 
    max-width: 80%;
  }
  .content-head{
    font-size: 2.5vw;
  }

    .content-text {
    font-size: 2.6vw;
    font-family: 'Quicksand', sans-serif;
    color: #68E0CF;
  }
  }

@media (min-width: 650px) {

  #butn {
    top: 62%;
    left: 42.5%;
    font-size: 1.0vw; 
    padding: 2px 3.5px;
  }
    .features {
      margin: 80px 30px;
      overflow: hidden;
  }
  .feature-item {
    display: block; 
    clear: both;
  }
  
   .featureImg {
      position: relative;
      display: block; 
      margin: 80px auto 0;
      max-width: 50%;
      min-width: 50%;
  }
  
   .content {
      display: block; 
      margin: 10px auto 40px;
      max-width: 75%;
  }
  
   .featureImg2 {
    position: relative;
    display: block; 
    margin: 0 auto 80px;
    max-width: 50%;
    min-width: 50%;
  }
  
   .content2 {
    margin: 40px auto 10px;
    display: block; 
    max-width: 75%;
  }
  .content-head{
    font-size: 2.3vw;
  }

    .content-text {
    font-size: 2.4vw;
    font-family: 'Quicksand', sans-serif;
    color: #68E0CF;
  }
  }
  
  @media (min-width: 768px) {

    #butn {
      top: 61%;
      left: 42.5%;
      font-size: 1.0vw; 
      padding: 3px 5px;
    }
    .features {
      margin: 80px auto;
      overflow: hidden;
      min-width: 768px;
  }
  .feature-item {
    display: block; 
    clear: both;
  }
  
   .featureImg {
      position: relative;
      display: block; 
      margin: 0 auto;
      max-width: 50%;
      min-width: 50%;
  }
  
   .content {
      display: block; 
      margin: auto auto;
      max-width: 75%;
  }
  
   .featureImg2 {
    position: relative;
    display: block; 
    margin: 0 auto;
    max-width: 50%;
    min-width: 50%;
  }
  
   .content2 {
    margin: auto auto;
    display: block; 
    max-width: 75%;
  }
  .content-head{
    font-size: 2.3vw;
  }

    .content-text {
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
    color: #68E0CF;
  }
  }
  
  @media (min-width: 1230px) {

    #butn {
      top: 59.5%;
      left: 42.5%;
      font-size: 1.0vw; 
      padding: 4px 6px;
    }
    .features {
      margin: 100px auto;
      overflow: hidden;
      min-width: 1230px;
  }
  .feature-item {
    display: block; 
    clear: both;
    padding: 100px 50px;
  }
  
    .featureImg {
      min-width: 30%;
      max-width: 30%;
      margin: 0 80px;
      float: left;
  }
  
 .content {
      min-width: 30%;
      max-width: 40%;
      margin: 80px 80px;
      float: right;
  }
  
  .featureImg2 {
      min-width: 30%;
      max-width: 30%;
      margin: 0 80px;
      float: right;
  }
  
   .content2 {
      min-width: 30%;
      max-width: 40%;
      margin: 80px 80px;
      float: left;
  }
  .content-text {
    font-family: 'Quicksand', sans-serif;
    color: #68E0CF;
    font-size: 1.8vw;
  }

  }

  .dp {
    border-radius: 50%;
    max-width: 60px;
  }
